.account {
    display: flex;
    background: white;
    width: 95%;
    margin: 1rem auto;
    height: calc(100vh - 2rem);

    &-aside {
        width: 30%;
        background: rgba(188, 186, 186, 0.507);
    }
}
